body {
	font-family: "Times New Roman";
	font-size: 13pt;
}

ol {
	margin-top: 0em;
}

li {
	margin-bottom: 1em;
	page-break-inside: avoid;
}

/* Zero page margin supresses Chrome's header and footer for headless printing */

@media print {
	@page {
		margin: 0;
	}
	body {
		margin-left:  0.5in;
		margin-right: 0.5in;
		zoom: 0.8;
	}
}
